.home-container {
  padding: 40px;
  text-align: center;
  background-color: white; /* Light background */
  min-height: calc(100vh - 100px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    font-family: 'Acherus Militant 1', sans-serif;
    margin-bottom: 10px;
}

.home-container h1 {
  font-size: 3em;
  color: #333;
  /* color: #ffffff; */
  margin-bottom: 20px;
  animation-duration: 0.6s;

}

.home-container p {
  font-size: 1.2em;
  color: #666;
  /* color: #ffffff; */
  max-width: 800px;
  line-height: 1.6;
}

.home-features {
  margin-top: 40px;
  background-color: #bcddff;
  /* background-color: #01d48e; */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.home-features h2 {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 20px;
}

.home-features ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.home-features li {
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  color: #333;
  transition: transform 0.2s ease;
}

.home-features a{
  text-decoration: none;
}

.home-features li:hover {
  transform: translateY(-5px);
}